<h1>Today's weather in {{name}}: {{temp}} *C</h1>
<h2>Feels like temp: {{tempFeel}} *C</h2>
<h3>Sunrise: {{sunrise}}</h3>
<h3>Sunset: {{sunset}}</h3>
<a class="btn-style" href="/weather">What's the weather?</a>